@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 17 17 17;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 17 17 17;
    --foreground: 245 245 245;
  }
}

html,
body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
}
